form {
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="file"] {
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .result {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    text-align: center;
  }