.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.parent {
  display: flex;
  flex-wrap: wrap;
}

.child1,
.child2,
.child3 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .child1,
  .child2 {
    width: 33.33%;
    border-right: 1px solid #ccc; /* Add a border on the right side of the first two child components */
  }
  
  .child2,
  .child3 {
    border-left: 1px solid #ccc; /* Add a border on the left side of the last two child components */
  }
}

@media screen and (min-width: 1024px) {
  .child1,
  .child2,
  .child3 {
    width: 25%;
  }
}